.container{
  margin-top: 99px;
}
input {
  margin: 9px;
  padding: 5px 19px;
  border-radius: 7px;
  background-color: rgba(255, 252, 232, 0.77);
  box-shadow: rgba(255, 218, 194, 0.07) 0 1px 0, rgba(133, 106, 112, 0.72) 0 1px 17px 0px inset;
  border: none;
  width: 299px;
  height: 39px;
}

#signUp{
  margin: 9px;
  background-color: rgba(180, 255, 236, 0.77);
  color: #1b2f3c;
  font-weight: bold;
  border: none;
  /*border: 1px solid rgba(70, 67, 56, 0.71);*/
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(36, 26, 29, 0.8) 0 1px 19px 0px inset;
  border-radius: 7px;
}

#login{
  margin: 9px;
  background-color: rgba(198, 198, 132, 0.89);
  color: #165368;
  font-weight: bold;
  border: none;
  /*border: 1px solid #54524d; */
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(47, 23, 35, 0.72) 0 1px 17px 0px inset;
  border-radius: 7px;
}

