<div class="container">
  <div class="row text-center">
    <div class="col-4 offset-4"><img src="{{admin.image}}" alt="" style="width: 109px; border-radius: 9%"></div>
  </div>
<div class="row text-center">

    <div class="col-6 offset-3"  >

      <ul class="list-group">
        <li class="list-group-item">{{admin.userName}}</li>
        <li class="list-group-item">{{admin.firstName}}</li>
        <li class="list-group-item">{{admin.lastName}}</li>
        <li class="list-group-item">{{admin.address}}</li>
        <li class="list-group-item">{{admin.phone}}</li>
      </ul>
    </div>
      <div class="col-4 offset-4 text-center ">
         <button  id="edit" (click)="modal.getModal('myModal').open()"><i class="fas fa-pencil-alt"></i> </button>
         <button  id="editPass" (click)="modal.getModal('myModal2').open()">Password <i class="fas fa-pencil-alt"></i></button>
  </div>
    </div>
</div>

<ngx-smart-modal #myModal identifier="myModal">
  <div class="col-6 offset-3" id="modal">
    <form [formGroup]="info" (ngSubmit)="save()">
      <input type="text" formControlName="userName">
      <input type="text" formControlName="firstName">
      <input type="text" formControlName="lastName">
      <input type="text" formControlName="address">
      <input type="text" formControlName="phone">
    </form>
  </div>
  <div class="col text-right">
  <button id="save" type="submit" (click)="save(); myModal.close()">Save</button>
  <button id="cancel" (click)="myModal.close()">Cancel</button>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #myModal2 identifier="myModal2">
  <div class="col-6 offset-3" >
    <form [formGroup]="password" (ngSubmit)="save()">
      <input type="password" placeholder="Current" formControlName="oldPassword">
      <input type="password" placeholder="New" formControlName="password">
      <input type="password" placeholder="Repeat new" formControlName="newPassword">
    </form>
  </div>
  <div class="col text-right">
    <button id="savePass" type="submit" (click)="savePass(); myModal2.close()">Save</button>
    <button id="cancelPass" (click)="myModal2.close()">Cancel</button>
  </div>
</ngx-smart-modal>


